<style type="text/css">
    .site-banner {
        position: absolute;
        top: 4rem;
        right:0;
        left:0;
        background-color:lightyellow;
        z-index:1000;
        padding:2pt;
        text-align: center;
    }

.site-banner a {
    color: black;
    font-weight: 600;
}

.site-banner #tix {
    color: #00628D;
}


    section#td-cover-block-0 {
        top:.75rem;
        height: calc(100vw * .8) !important;
        max-height:42em !important;
    }
  </style>
  <div class="site-banner">
    Oct 2 2023: Join the <b>DORA Community Summit</b> at <a href="https://itrevolution.com/product/devops-enterprise-summit-las-vegas-2023/?utm_medium=referral&utm_source=dora&utm_term=doracommunitysummit&utm_content=onsale&utm_campaign=does23lv">DevOps Enterprise Summit</a> to learn, discuss, and collaborate with fellow community members. <a href="/summit/" id="tix">🎟️ Tickets and Info ℹ️</a>
  </div>
