title: Connect with the Community
linkTitle: Connect with the Community
menu:
  main:
    weight: 10

---

{{< blocks/cover  image_anchor="top" height="max" color="grey" >}}

{{< /blocks/cover >}}

{{< blocks/section color="100" >}}
  
{{% blocks/feature icon="fa-sharp fa-solid fa-people-group" title="Google Group" %}}
  Join the <a href="https://groups.google.com/g/dora-community/about">DORA Community of Practice Google Group</a> for asynchronous 
  discussions, and event notifications.
  {{% /blocks/feature %}}
  
  {{% blocks/feature  icon="fa-brands fa-linkedin" title="LinkedIn"  %}}
  
  Follow us on <a href="https://www.linkedin.com/company/10879409">LinkedIn</a>.  Share upcoming DORA related events and news with your connections.
  {{% /blocks/feature %}}

  {{% blocks/feature img="/static/favicons/dora.ico" title="DORA.dev" %}}
  Access the DORA Research publications, benchmark your team with the Quick Check, and identify which capability is holding you back at 
  <a href="https://dora.dev">DORA.dev</a>.
  {{% /blocks/feature %}}

  {{% blocks/feature icon="fa-brands fa-twitter" title="Twitter" %}}
  Keep the conversation going on <a href="https://twitter.com/devops_research">Twitter</a> .
  {{% /blocks/feature %}}

  {{% blocks/feature icon="fa-brands fa-mastodon" title="Mastodon" %}}
  Connect with us on <a href="https://mastodon.social/@dora@hachyderm.io">Mastodon</a>.  Share upcoming DORA related events and news with your connections.
  {{% /blocks/feature %}}

{{< /blocks/section >}}
