+++
title = "DORA Community of Practice"
linkTitle = "DORAcommunity"

+++

<style>
    section#td-cover-block-0 {
        background-position: bottom;
        background-size: contain;
        height: calc(100vw * .6);
        max-height: 40em;
    }
</style>


{{< blocks/cover image_anchor="top" height="auto" color="grey" >}}

{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
<div class="mx-auto">
	<a class="btn btn-lg btn-light mr-3 mb-4"  href="https://groups.google.com/g/dora-community/about">
		Join DORA.community <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-dark mr-3 mb-4" href="https://dora.dev">
		Explore DORA.dev <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<p class="lead mt-5">The DORA Community provides opportunities to learn, discuss, and collaborate on software delivery and operational performance. Enabling a culture of continuous improvement.</p>
</div>
{{% /blocks/lead %}}





{{< blocks/section color="light" >}}

{{% blocks/feature icon="fa-regular fa-calendar" title="Community Calendar" url="/community-calendar/" %}}
Community discussions, conferences, webinars, etc.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-youtube" title="DORA.community Youtube Playlist" url="https://www.youtube.com/playlist?list=PLKK5zTDXqzFNt1OTjhlrCnhVl1UO2QMbk"%}}
Check out previous DORA.community Discussions
{{% /blocks/feature %}}





{{% blocks/feature icon="fa-brands fa-linkedin" title="Connect" url="/about/connect/" %}}
Connect with the community by join the DORA.community mail list, and follow us on DORA.community on LinkedIn, Twitter, and Mastedon.
{{% /blocks/feature %}}


{{< /blocks/section >}}








